* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  header {
    text-align: center;
    margin: auto;
    border-bottom: solid 5px black;
  }